/Climate raw data set 20200101-20201211/
/distribution_plot/
/Energy raw data set 20200101-20201211/
/models/
/shap_TH_ac_plot/
/SMOTE_room/
/2016-2019 UG Hall 6.xlsx
/2020_data_compiled.csv
/2020_data_initial.csv
/all_data_without_wifi.csv
/Original_Version_Models/error.csv
/Original_Version_Models/prediction.csv
/room_list_ with_AC_ status.docx
/summer_data_compiled.csv
/.idea/
/Test_R2_2021_03_30_12_27_42/
/Test_1-R2_2021_03_31_15_29_37/
/Original_Version_Models/
/data_number_plot.py
/try.py
/Test*/
/DEPRECATED_prediction_processing.py
/DEPRECATED_training_xgboost_model.py
/room_classification.csv
/data_description/
/2021*/
/replacement_barplot.png
/replacement_barplot_no2015.png
/replacement_barplot_no2015_3cate.png
/replacement_barplot_with2015.png
/replacement_barplot_with2015_3cate.png
