/Climate raw data set 20200101-20201211/
/distribution_plot/
/Energy raw data set 20200101-20201211/
/models/
/shap_TH_ac_plot/
/SMOTE_room/
/2016-2019 UG Hall 6.xlsx
/2020_data_compiled.csv
/2020_data_initial.csv
/all_data_without_wifi.csv
/error.csv
/prediction.csv
/room_list_ with_AC_ status.docx
/summer_data_compiled.csv
